<form #asientoForm="ngForm" [formGroup]="forma" (ngSubmit)="registrarAsiento(forma)" ngNativeValidate  class="form-horizontal">
  <div class="card-body">
      <div class="form-group row">
          <label for="astID" class="col-sm-2 col-form-label">ID:</label>
          <div class="col-xs-10">
              <input [attr.disabled]="!_AsientossService.controlID ? '' : null " formControlName="asientoID" name = "asientoID"  type="text" class="form-control" [(ngModel)]="_AsientossService.selectedAsiento.asientoId" id="astID" placeholder="###">
          </div>
      </div>
      <div class="form-group row">
          <label for="artDescripcion" class="col-sm-2 col-form-label">Descripcion:</label>
          <div class="col-xs-12">
              <input formControlName="descripcion" name = "descripcion" type="text" class="form-control" [(ngModel)]="_AsientossService.selectedAsiento.descripcion" id="artDescripcion" placeholder="Descripcion...">
          </div>
      </div>
      <div style="display: none;" class="form-group row">
          <label for="clienteId" class="col-sm-2 col-form-label">Cliente:</label>
          <div class="col-xs-10">
                <div class="col-xs-12">
                    <input formControlName="clienteId" name = "clienteId" type="text" class="form-control" [(ngModel)]="_AsientossService.selectedAsiento.clienteId" id="clienteId" placeholder="###">
                </div>
          </div>
      </div>
      <div class="form-group row">
            <label for="clientes" class="col-sm-2 col-form-label">Cliente:</label>
            <div class="col-xs-10">
            <select  formControlName="clientes" name = "clientes" class="custom-select" id="inputGroupSelect01" [(ngModel)]="_AsientossService.selectedAsiento.clienteId">
            <option *ngFor="let cliente of _ClientesService.listaDeClientes" [value]=cliente.clienteId >{{cliente.nombre}} </option>
            </select>
            </div>
        </div>

      <div class="form-group row">
            <label for="cuenta" class="col-sm-2 col-form-label">Cuenta:</label>
            <div class="col-xs-12">
                <input formControlName="cuenta" name = "cuenta" type="text" class="form-control" [(ngModel)]="_AsientossService.selectedAsiento.cuenta" id="cuenta" placeholder="###">
            </div>
        </div>

      <div class="form-group row">
          <label for="artPrecioUni" class="col-sm-2 col-form-label">Tipo Movimiento</label>
          <div class="checkbox checkbox-primary p-t-0">
            <input formControlName="tipoMovimiento" [(ngModel)]="_AsientossService.selectedAsiento.tipoMovimiento"  name="tipoMovimiento" id="checkbox-TipoMovimiento" type="checkbox">
            <label for="checkbox-TipoMovimiento"> CR</label>
        </div>
      </div>
      <div class="form-group row">
            <label for="fechaAsiento" class="col-sm-2 col-form-label" > Fecha </label>
          <div class="col-xs-12">
                <input type="text" formControlName="fechaAsiento" name="fechaAsiento" id="fechaAsiento" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="_AsientossService.selectedAsiento.fechaAsiento" >
                <owl-date-time #dt></owl-date-time>
          </div>
    </div>
    <div class="form-group row">
      <label for="precioUnitario" class="col-sm-2 col-form-label">Monto Asiento</label>
      <div class="col-xs-12">
          <input formControlName="montoAsiento" name="precioUnitario" type="text" class="form-control" [(ngModel)]="_AsientossService.selectedAsiento.montoAsiento" id="artPrecioUni" placeholder="0.0">
      </div>
  </div>

      <div class="form-group row">
          <label for="artEstado" class="col-sm-2 col-form-label">Estado:</label>
          <div class="col-xs-10">
              <div class="checkbox checkbox-primary p-t-0">
                  <input formControlName="estado" [(ngModel)]="_AsientossService.selectedAsiento.estado"  name="estado" id="checkbox-signup" type="checkbox">
                  <label for="checkbox-signup"> Activo</label>
              </div>
          </div>
      </div>
      
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
      <button [disabled]="forma.invalid"  type="submit" class="btn btn-primary">
        Registrar
      </button>
    </div>
    <div class="form-group col-md-6">
        <button  (click)="link()" type="button" class="btn btn-primary">
            Volver
          </button>
    </div>

  </div>
  {{forma.value | json}}
</form>


