<form  #articulosForm="ngForm" [formGroup]="forma" (ngSubmit)="registrarFactura(forma)" ngNativeValidate  class="form-horizontal">
  <div class="card-body">
    
      <div  class="form-group row">
          <label  for="facturaId" class="col-sm-2 col-form-label">ID:</label>
          <div class="col-xs-12">
              <input  formControlName="facturaId" name = "facturaId"  type="number" [attr.disabled]="!_FacturacionService.controlID ? '' : null " class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.facturaId" id="facturaId" placeholder="###">
          </div>
      </div>

      <div class="form-group row">
          <label for="inputGroupSelect02" class="col-sm-2 col-form-label">Cliente:</label>
          <div class="col-xs-12">
            <select  formControlName="clientes" name="clientes" class="custom-select" id="inputGroupSelect02" [(ngModel)]="_FacturacionService.selectedFactura.vendedorId">
              <option *ngFor="let clientes of _ClientesService.listaDeClientes" [value]=clientes.clienteId >{{clientes.nombre}}</option>
            </select>
          </div>
      </div>
    

      <div class="form-group row">
        <label for="inputGroupSelect03" class="col-sm-2 col-form-label">Vendedor:</label>
        <div class="col-xs-12">
          <select  formControlName="vendedores" name="vendedores" class="custom-select" id="inputGroupSelect03" [(ngModel)]="_FacturacionService.selectedFactura.clienteId">
            <option *ngFor="let vendedor of _VendedoressService.listaDeVendedores" [value]=vendedor.vendedorId >{{vendedor.nombre}} </option>
          </select>
        </div>
    </div>

      <div style="display: none;" class="form-group row">
          <label for="vendedorId" class="col-sm-2 col-form-label">Vendedor ID:</label>
          <div class="col-xs-12">
              <input  formControlName="vendedorId" name = "vendedorId" type="number" class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.vendedorId" id="vendedorId" placeholder="###">
          </div>
      </div>

      <div style="display: none;" class="form-group row">
        <label for="clienteId" class="col-sm-2 col-form-label">Cliente ID:</label>
        <div class="col-xs-12">
            <input formControlName="clienteId" name = "clienteId" type="number" class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.clienteId" id="clienteId" placeholder="###">
        </div>
    </div>

      <div class="form-group row">
          <label for="tipoPago" class="col-sm-2 col-form-label">Tipo de pago:</label>
          <div class="col-xs-12">
            <select formControlName="tipoPago"  name="tipoPago" class="custom-select" id="inputGroupSelect01" [(ngModel)]="_FacturacionService.selectedFactura.tipoPago">
              <option value="tarjeta ">Tarjeta</option>
              <option value=" contado">Contado</option>
              <option value="cheque">cheque</option>
            </select>
          </div>
      </div>

      <div class="form-group row">
        <label for="comentario" class="col-sm-2 col-form-label">Comentario:</label>
        <div class="col-xs-12">
            <input formControlName="comentario" name = "comentario" type="text" class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.comentario" id="comentario" placeholder="Comentario...">
        </div>
    </div>

      <div class="form-group row">
        <label for="fecha" class="col-sm-2 col-form-label" > Fecha </label>
        <div class="col-xs-12">
            <input type="text" formControlName="fecha" name="fecha" id="fecha" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="_FacturacionService.selectedFactura.fecha" >
            <owl-date-time #dt></owl-date-time>
        </div>
      </div>

      <div class="form-group row">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
        <div class="col-xs-12">
            <input formControlName="cantidad" name = "cantidad" type="number" class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.cantidad" id="cantidad" placeholder="###">
        </div>
      </div>

        <div class="form-group row">
          <label for="precioUnitario" class="col-sm-2 col-form-label">Precio unitario:</label>
          <div class="col-xs-12">
              <input formControlName="precioUnitario" name = "precioUnitario" type="number" class="form-control" [(ngModel)]="_FacturacionService.selectedFactura.precioUnitario" id="precioUnitario" placeholder="###">
          </div>
        </div>

        <div class="form-group row">
            <label for="inputGroupSelect04" class="col-sm-2 col-form-label">Detalles Factura:</label>
            <div class="col-xs-12">
              <select  formControlName="detallesFactura" name="detallesFactura" class="custom-select" id="inputGroupSelect04" [(ngModel)]="_FacturacionService.selectedFactura.detallesFactura">
                <option *ngFor="let detalles of _FacturacionService.listaDetalles" [value]="detalles.detalleId" >{{detalles.detalleId}} </option>
              </select>
            </div>
        </div>

            <div class="form-group row">
                <label for="inputGroupSelect05" class="col-sm-2 col-form-label">Articulos:</label>
                <div class="col-xs-12">
                  <select  formControlName="articuloId" name="articuloId" class="custom-select" id="inputGroupSelect05" [(ngModel)]="_FacturacionService.selectedDetalle.articuloId">
                    <option *ngFor="let articulos of _ArticulosService.listaDeArticulos" [value]="articulos.articuloId" >{{articulos.descripcion}} </option>
                  </select>
                </div>
            </div>
        </div>




  
  <div class="form-row">
      <div class="form-group col-md-6">
          <!-- [disabled]="forma.invalid" -->
      <button  type="submit" class="btn btn-primary">
        Registrar
      </button>
    </div>
    <div class="form-group col-md-6">
        <button (click)="link()" type="button" class="btn btn-primary">
            Volver
          </button>
    </div>
  </div>
</form>
