
<div >
    <div class="row animated fadeIn" *ngIf="cargando">
      <div class="col-sm-12">
         <div class="alert alert-warning text-center">
             <strong>Cargando</strong>
             <br>
             <i class="fa fa-refresh fa-spin fa-2x"></i>
             <br>
             <span>Espere por favor</span>;
           </div>
      </div>

    </div>
 </div>

 <div class="row animated fadeIn" *ngIf="!cargando" >

<div class="row">
  <div class="col-md-12">
      <button (click) ="link()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">
          <i class="fa fa-save"> Registrar articulo </i>
        </button>
  </div>
</div>
<br>
<br>


<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripcion</th>
      <th>Costo Unitario</th>
      <th>Precio Unitario</th>
      <th>Estado</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let articulos of _ArticulosService.listaDeArticulos">
          <td>{{articulos.articuloId}}</td>
          <td>{{articulos.descripcion}}</td>
          <td>{{articulos.costoUnitario}}</td>
          <td>{{articulos.precioUnitario}}</td>
          <td>{{articulos.estado}}</td>
          <td>
              <button (click)="showForEdit(articulos)"  class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="BorrarArticulo(articulos.articuloId)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                </button>
          </td>
      </tr>
  </tbody>

</table>

 </div>




