<div >
  <div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
       <div class="alert alert-warning text-center">
           <strong>Cargando</strong>
           <br>
           <i class="fa fa-refresh fa-spin fa-2x"></i>
           <br>
           <span>Espere por favor</span>;
         </div>
    </div>

  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando" >

<div class="row">
<div class="col-md-12">
    <button (click) ="link()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">
        <i class="fa fa-plus"></i> Agregar Factura
      </button>
</div>
</div>
<br>
<br>


<table class="table table-sm table-hover">
<thead>
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Vendedor</th>
    <th>Fecha</th>
    <th>Tipo de pago</th>
    <th>Comentario</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor ="let factura of _FacturacionService.listaDeFacturas">
        <td>{{factura.facturaId}}</td>
        <td>{{factura.clienteId}}</td>
        <td>{{factura.vendedorId}}</td>
        <td>{{factura.fecha}}</td>
        <td>{{factura.tipoPago}}</td>
        <td>{{factura.comentario}}</td>
        <td>
            <button (click)="showForEdit(factura)"  class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </button>
              <button (click)="BorrarFactura(factura.facturaId)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
              </button>
        </td>
    </tr>
</tbody>

</table>

</div>

<!-- TABLA DE DETALLES!!!!-->

<div class="row animated fadeIn" *ngIf="!cargando" >

<!-- <div class="row">
<div class="col-md-12">
    <button (click) ="link()" type="button" class="btn btn-primary waves-effect waves-light m-r-10">
        <i class="fa fa-plus"></i> Agregar Factura
      </button>
</div>
</div> -->
<br>
<br>
<br>
<h1> Detalles factura</h1>
<br>
<br>





<table class="table table-sm table-hover">
<thead>
  <tr>
    <th>ID</th>
    <th>articulo ID</th>
    <th>factura</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor ="let detalles of _FacturacionService.listaDetalles">
        <td>{{detalles.detalleId}}</td>
        <td>{{detalles.articuloId}}</td>
        <td>{{detalles.facturaId}}</td>
        <!-- <td>
            <button (click)="showForEdit(factura)"  class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </button>
              <button (click)="BorrarFactura(detalles.facturaId)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
              </button>
        </td> -->
    </tr>
</tbody>

</table>

</div>
